@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/menu.sass";
@import "./components/Nav.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}