@mixin phone {
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    @content;
  }
}

@mixin tablet-ver {
  @media only screen and (min-device-width: 500px) and (max-device-width: 1024px) and (orientation: portrait) {
    @content;
  }
}

@mixin tablet-hor {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1224px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-device-width: 1024px) and (min-device-width: 320px) {
    @content;
  }
}

@mixin chrome {
  @supports (-webkit-appearance: none) and (not (-ms-ime-align: auto)) {
    @content;
  }
}

@mixin edge {
  @supports (-ms-ime-align: auto) {
    @content;
  }
}

@mixin android-native {
  @supports not (grid-template: 1fr / 1fr) {
    @content;
  }
}

@mixin reduced-motion {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}
