@import "../atoms/breakpoints.scss";

.footer {
  width: 100%;
  background-color: #202020;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;

  @include mobile {
    width: calc(100vw - var(--nav-collapsed-w));
  }

  &__col {
    height: 100%;
    font-size: 12px;
    display: flex;
    flex-flow: column nowrap;
    margin: 10px;
    
    &__title {
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 7.5px;
      text-transform: uppercase;
    }

    &__link {
      font-weight: 300;
      color: #eeeeee;
      margin-bottom: 5px;
      text-decoration: none;
    }
  }
}