.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;

  .content {
    width: calc(100vw - var(--nav-w));
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    transition: width .15 0s ease-in-out;
    will-change: width;
    padding: 10px;
  }
}

.open {
  .content {
    width: calc(100vw - var(--nav-collapsed-w));
  }
}